*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
    background-color: #C2BBB1;
    color: #272724;
    overflow-x: hidden;
}
@font-face {
    font-family:f1 ;
    src: url("./Font/5f242a694256f02b944d5767_EditorialNew-Light.ttf");
}
@font-face {
    font-family:f2 ;
    src: url("./Font/5f242a69b1577e63266b4d72_DomaineDispCondMedium\ \(1\).ttf");
}
@font-face {
    font-family:f3 ;
    src: url("./Font/616fd1dd00cf6c70f978fc69_Canopee\ \(1\).ttf");
}
@font-face {
    font-family:f4 ;
    src: url("./Font/Poppins-Light.ttf");
}

.dash {
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23333' stroke-width='2.5' stroke-dasharray='11%2c11' stroke-dashoffset='30' stroke-linecap='square'/%3e%3c/svg%3e");
}


 @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-marquee {
    animation: marquee 20s linear infinite;
  }